<%= form_for(@post, @comment), url: post_comments_path, method: :post do |f| %>

  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card">
    <div class="post col s8">
      <div class="post-title center col s12">
        <h2><%= @post.title %></h2>
      </div>
      <div class="post-content col s12">
        <h6><%= @post.content %></h6>
      </div>
    </div>
    <div class="image col s4">
      <img src="<%= @post.post_image %>" alt="post image" />
    </div>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>


<!-- busted ass submit button -->
  <div class="actions">
    <%= button_tag(type: 'submit', :class => 'waves-effect waves-light btn') do %>
      <i class="material-icons left">done</i>Save
    <% end %>
  </div>
<% end %>
