<p id="notice"><%= notice %></p>

<h1>User Index</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user-card card">
      <div class="row">
        <div class="col s3">
          <a href="#{user.profile_picture}"></a> 
        </div>
        <div class="col s9">
          <div class="user-details">
            <div class="col s12 user-name center">
              <%= user.user_name %>
            </div>
            <div class="col s4">
              <b>Join Date: </b><%= user.created_at %>
            </div>
            <div class="col s4">
              <b>Post Count: </b><%= %>
            </div>
            <div class="col s4">
              <b>Comment Count: </b><%= %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recent-post">
      <div class="recent-post-title">
        Most Recent Post
      </div>
      <div class="recent-post-details">
        <%= @posts.all.find_by_id(user.user_id).title %>
        <br>
        <%= @posts.all.find_by_id(user.user_id).content %>
      </div>
    </div>
    <%= link_to 'Show', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<br>
<div class="card hoverable">
  <%= link_to 'New User', new_user_path %>
</div>
