<p id="notice"><%= notice %></p>
<h1>HI, I'M SHIV!</h1>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Post:</strong>
  <%= @user.posts.all %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user.comments.all %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
