<div class="new-post card">

<h3 class="center">Post</h3>

<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_image %>
    <%= f.text_field :post_image, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control materialize-textarea"%>
  </div>

  <% if !current_user %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => @user.id %>
    </div>
  <% else %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
