<p id="notice"><%= notice %></p>

<% if current_user %>
  <div class="add-comment">
    <%= link_to new_post_path, :class => 'waves-effect waves-light btn' do %>
      <i class="material-icons left">comment</i>New Post
    <% end %>
  </div>
<% end %>

<div>
  <% @posts.each do |post| %>
    <div class="row card post-show-card">
<!-- here -->
      <div class="post-details col s12 m6 l8 <%= post.id % 2 == 0 ? "left" : "right" %>">
        <div class="row">
<!-- here -->
          <div class="author-image s6 <%= post.id % 2 == 0 ? "left" : "right" %>">
            <img class="responsive-img" src="<%= post.user.profile_picture %>" alt="member profile image goes here" />
          </div>
          <div class="post-author col s6">
            <b>Author: </b><%= link_to "#{post.user.user_name}", user_path(post.user_id), class: "link-text" %>
          </div>
          <div class="post-author col s6">
            <b>Posted: </b><%= post.created_at.to_date %>
          </div>
        </div>
        <div class="post-title center col s12">
          <h4><b><%= link_to "#{post.title}", post_path(post.id), class: "link-text" %></b></h4>
        </div>
        <div class="post-content col s12 center">
          <h6><%= post.content %></h6>
        </div>
      </div>
<!-- here -->
      <div class="image col l4 m6 s12 <%= post.id % 2 == 0 ? "left" : "right" %>">
        <img class="responsive-image" src="<%= post.post_image %>" alt="post image" />
      </div>
      <% if post.comments.last %>
        <div class="post-comment">
          <div class="card col s12 z-depth-3">
              <div class="row">
                <div class="comment-author-image s3 m1 left">
                  <img class="responsive-img" src="<%= post.comments.last.user.profile_picture %>" alt="member profile image goes here" />
                </div>
                <div class="comment-author col s7">
                  <b>Author: </b><%= link_to "#{User.find_by_id(post.comments.last.user_id).user_name}", user_path(post.comments.last.user_id), class: "link-text" %>
                  <div class="comment-content col s12">
                    <%= post.comments.last.content %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <div class="add-comment2">
    <%= link_to new_post_path, :class => 'waves-effect waves-light btn' do %>
      <i class="material-icons left">comment</i>New Post
    <% end %>
  </div>
<% end %>
