<p id="notice"><%= notice %></p>
<h1>POST SHOW</h1>

<div class="row card post-show-card">
  <div class="post col s8">
    <div class="row">
      <div class="post-author col s6">
       <b>Author: </b> <%= link_to "#{@user.user_name}", user_path(@user.id) %>
      </div>
      <div class="post-author col s6">
        <b>Posted: </b><%= @user.created_at.to_date %>
      </div>
    </div>
    <div class="post-title center col s12">
      <h2><%= @post.title %></h2>
    </div>
    <div class="post-content col s12">
      <h6><%= @post.content %></h6>
    </div>
  </div>
  <div class="image col s4">
    <img src="<%= @post.post_image %>" alt="post image" />
  </div>
  <% if current_user.id === @post.user_id %>
    <div class="row">
      <div class="col s6 left">
        <%= link_to edit_post_path(@post), :class => 'waves-effect waves-light btn' do %>
          <i class="material-icons left">create</i>Edit
        <% end %>
      </div>
      <div class="col s6 right">
        <%= link_to post_path(@post), action: "destroy", :class => 'waves-effect waves-light btn right', data: { confirm: "Dude, you sure you want to dump those kicks!?" }  do %>
          <i class="material-icons right">delete</i>Delete
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="add-comment">
  <%= link_to new_post_comment_path(@post, @comment), :class => 'waves-effect waves-light btn' do %>
    <i class="material-icons left">comment</i>Add Comment
  <% end %>
</div>

<div class="comments-title">
  <h4>Comments</h4>
</div>
<div class="card comments col s12">
  <% @post.comments.each do |comment| %>
    <div class="col s12">
      <div class="comment-author col s12 center">
        <b>Author: </b><%= link_to "#{User.find_by_id(comment.user_id).user_name}", user_path(User.find_by_id(comment.user_id)) %>
      </div>
      <div class="comment-content col s12">
        <%= comment.content %>
      </div>
      <% if current_user.id == comment.user_id %>


      <% if current_user.id === comment.user_id %>
        <div class="row">
          <div class="col s6 left">
            <%= link_to edit_post_comment_path(comment), :class => 'waves-effect waves-light btn-small' do %>
              <i class="material-icons left">create</i>Edit Comment
            <% end %>
          </div>
          <div class="col s6 right">
            <%= link_to post_comment_path(comment), action: "destroy", :class => 'waves-effect waves-light btn right', data: { confirm: "Dude, you sure you want to drop that comment!?" }  do %>
              <i class="material-icons right">delete</i>Delete Comment
            <% end %>
          </div>
        </div>
      <% end %>



      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', posts_path %>
